@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

header {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

h1 {
    font-size: 2.4rem;
    color: #c40404;
    font-family: 'Shadows Into Light', cursive;
}

header img {
    width: 30px;
}

.items-in-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.items-in-cart p {
    font-size: 1.5rem;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo img {
    width: 2.8rem;
}

form {
    background-color: #ffcd00;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

input {
    font-size: 1rem;
    padding: .5rem;
    width: 55%;
    font-family: 'Russo One', sans-serif;
}

form button {
    color: white;
    padding: 0 0.3rem;
    /* removes iPhone default styles. */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form button img {
    width: 1.2rem;
}

@media screen and (max-width: 968px) {
    input {
        width: 60%;
    }
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 1.6rem;
    }

    .logo {
        gap: 0.5rem;
    }

    .logo img {
        width: 2.2rem;
    }

    .items-in-cart p {
        font-size: 1.2rem;
    }

    .items-in-cart img {
        width: 1.5rem;
    }

    input {
        font-size: 0.7rem;
    }
}