.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
    padding: 0.25rem;
}

.pagination-container button {
    padding: 0.5rem 1rem;
    background-color: #c40404;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.pagination-container button:hover {
    background-color: #ffcd00;
    color: black;
}

.pagination-container h3 {
    justify-self: center;
}

.placeholder {
    padding: 0rem 2rem;
}